@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.customBg {
    background-color: black !important;
}


.home:hover{
    text-decoration: none !important;
    cursor: pointer;
}


.home:active {
    border-bottom: 2px solid white !important;
}

.favorites:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.favorites:hover {
    /* border-bottom: 2px solid white !important; */
}

.customSpan {
    font-family: 'Pacifico', cursive;
}